@model TheSchool.Web.Areas.Teacher.ViewModels.TutorClassIndexViewModel

@{
    ViewBag.Title = "My Class";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">@Model.ClassName</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th class="text-center">Student Name</th>
                <th class="text-center" colspan="3">Mathematics</th>
                <th class="text-center" colspan="3">English</th>
                <th class="text-center" colspan="3">Musics</th>
                <th class="text-center" colspan="3">Gymnastics</th>
            </tr>
            @foreach (var student in Model.Students)
            {
                <tr data-row-index="@student.Id">
                    <td>
                        @Html.ActionLink($"{@student.FirstName} {@student.SecondName}", "Details", "Student", new { id = student.Id }, null)
                    </td>
                    @foreach (var mark in student.Marks.Where(m => m.Discipline.Name == "Mathematics").ToList())
                    {
                        <td>@mark.Value</td>
                    }
                    @foreach (var mark in student.Marks.Where(m => m.Discipline.Name == "English").ToList())
                    {
                        <td>@mark.Value</td>
                    }
                    @foreach (var mark in student.Marks.Where(m => m.Discipline.Name == "Gymnastics").ToList())
                    {
                        <td>@mark.Value</td>
                    }
                    @foreach (var mark in student.Marks.Where(m => m.Discipline.Name == "Musics").ToList())
                    {
                        <td>@mark.Value</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
<nav>
    <ul class="pagination text-center">
        @if (Model.Page > 1)
            {
            <li>
                <a href="/Teacher/TutorClass/Index/@(Model.Page - 1)" aria-l aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="disabled" href="#" aria-l aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.Pages; i++)
        {
            var className = string.Empty;
            if (Model.Page == i)
            {
                className = "active";
            }
            <li class="@className"><a href="/Teacher/TutorClass/Index/@i">@i</a></li>
        }

        @if (Model.Page < Model.Pages)
        {
            <li>
                <a href="/Teacher/TutorClass/Index/@(Model.Page + 1)" aria- aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="disabled" href="#" aria-l aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>
